@{
    ViewData["Title"] = "Servicios";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p><strong>Descubre los servicios que ofrecemos para hacer de tu experiencia en nuestra taquería algo inolvidable.</strong></p>

    <section>
        <h2>Pedidos para Llevar</h2>
        <p><strong>Sabemos que a veces el tiempo apremia. Por eso, puedes hacer tu pedido en línea o por teléfono y pasar a recogerlo directamente en nuestra taquería.</strong></p>
    </section>

    <section>
        <h2>Envíos a Domicilio Con  Costo Extra</h2>
        <p><strong>Disfruta de nuestros deliciosos tacos desde la comodidad de tu hogar. Ofrecemos servicio a domicilio rápido y eficiente para que no tengas que esperar para saborear lo mejor de nuestra cocina.</strong></p>
    </section>

    <section>
        <h2>Experiencia en el Local</h2>
        <p><strong>Ven a nuestra taquería y disfruta de un ambiente familiar y acogedor. Contamos con un área para niños, música en vivo en fechas especiales, y promociones exclusivas para nuestros clientes.</strong></p>
    </section>
</div>